<a class="page-link" id="color-mode-switch"><input type="checkbox" id="switch" onclick="changeSkin()"/><label for="switch">Dark Mode Toggle</label></a>
  <!-- ☼ -->
  <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
  </svg> -->
  <!-- <input type="checkbox" id="switch" onclick="changeSkin()"/> -->
  <!-- <label for="switch">Dark Mode Toggle</label> -->
  <!-- <label for="switch">&nbsp;</label> -->
  <!-- &nbsp;&nbsp;&nbsp; -->
  <!-- ☾ -->
  <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
  </svg> -->
<!-- </a> -->

<script type="text/javascript">
  function changeSkin() {
    var metaTag = document.getElementById("stylesheet");
    var SSHref = metaTag.href;
    var SSName = (SSHref.substring(SSHref.lastIndexOf('/') + 1));
    if (SSName === "dark.css") {
      metaTag.href = SSHref.replace(SSName, "style.css"); 
      document.getElementById("color-mode-switch").getElementsByTagName("label")[0].style.background = "#c3a554";
      // add the dark mode class to style links with the dark mode class
      document.querySelectorAll("a.dark").forEach((e) => e.classList.remove("dark"));
    } else {
      metaTag.href = SSHref.replace(SSName, "dark.css");
      document.getElementById("color-mode-switch").getElementsByTagName("label")[0].style.background = "#a076ce";
      // add the dark mode class to style links with the dark mode class
      document.querySelectorAll("a").forEach((e) => e.classList.add("dark"));
    }
  }
  // Update root html class to set CSS colors
  const toggleDarkMode = () => {
    changeSkin();
  }

  // Update local storage value for colorScheme
  const toggleColorScheme = () => {
    const colorScheme = localStorage.getItem('colorScheme');
    if (colorScheme === 'light') localStorage.setItem('colorScheme', 'dark');
    else localStorage.setItem('colorScheme', 'light');
  }

  // Set toggle input handler
  const toggle = document.querySelector('#color-mode-switch input[type="checkbox"]');
  if (toggle) toggle.onclick = () => {
    toggleDarkMode();
    toggleColorScheme();
  }

  // Check for color scheme on init
  const checkColorScheme = () => {
    const colorScheme = localStorage.getItem('colorScheme');
    // Default to light for first view
    if (colorScheme === null || colorScheme === undefined) localStorage.setItem('colorScheme', 'light');
    // If previously saved to dark, toggle switch and update colors
    if (colorScheme === 'dark') {
      toggle.checked = true;
      toggleDarkMode();
    }
  }
  checkColorScheme();
</script>