<a class="page-link" id="color-mode-switch"><input type="checkbox" id="switch" onclick="changeSkin()"/><label for="switch">Dark Mode Toggle</label></a>

<script type="text/javascript">
  function changeSkin() {
    var metaTag = document.getElementById("stylesheet");
    var SSHref = metaTag.href;
    var SSName = (SSHref.substring(SSHref.lastIndexOf('/') + 1));
    if (SSName === "dark.css") {
      metaTag.href = SSHref.replace(SSName, "style.css"); 
      document.getElementById("color-mode-switch").getElementsByTagName("label")[0].style.background = "#c3a554";
    } else {
      metaTag.href = SSHref.replace(SSName, "dark.css");
      document.getElementById("color-mode-switch").getElementsByTagName("label")[0].style.background = "#a076ce";
    }
  }
  // Update root html class to set CSS colors
  const toggleDarkMode = () => {
    changeSkin();
  }

  // Update local storage value for colorScheme
  const toggleColorScheme = () => {
    const colorScheme = localStorage.getItem('colorScheme');
    if (colorScheme === 'light') localStorage.setItem('colorScheme', 'dark');
    else localStorage.setItem('colorScheme', 'light');
  }

  // Set toggle input handler
  const toggle = document.querySelector('#color-mode-switch input[type="checkbox"]');
  if (toggle) toggle.onclick = () => {
    toggleDarkMode();
    toggleColorScheme();
  }

  // Check for color scheme on init
  const checkColorScheme = () => {
    const colorScheme = localStorage.getItem('colorScheme');
    // Default to light for first view
    if (colorScheme === null || colorScheme === undefined) localStorage.setItem('colorScheme', 'light');
    // If previously saved to dark, toggle switch and update colors
    if (colorScheme === 'dark') {
      toggle.checked = true;
      toggleDarkMode();
    }
  }
  checkColorScheme();
</script>