{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<link rel="shortcut icon" type="image/png" href="/favicon-32x32.png">
{% if page.katex %}
  <!--KaTeX-->
  <link rel="stylesheet" href="/script/katex/katex.min.css">
  <script defer src="/script/katex/katex.min.js"></script>
  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <script defer src="/script/katex/contrib/auto-render.min.js"></script>
  
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          renderMathInElement(document.body, {
              // ...options...
              delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true},
              {left: "\\begin{equation}", right: "\\end{equation}", display: true},
              {left: "\\begin{align}", right: "\\end{align}", display: true},
              {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
              {left: "\\begin{gather}", right: "\\end{gather}", display: true},
              {left: "\\begin{CD}", right: "\\end{CD}", display: true},
              {left: "\\[", right: "\\]", display: true}
              ],
              globalGroup: true,
              trust: true,
              throwOnError: true
          });
      });
  </script>
  <div style="display: none">
    \(
    {% include latex-defs.sty %}
    \)
  </div>
{% endif %}
{% if page.js %}
  <!-- Custom JS and JQuery-->
  <script src="/script/js/jquery-3.6.0.min.js"></script>
  <script src="/script/js/echarts.js"></script>
{% endif %}